body {
  background-color: #e0e0ec;
}

h1 {
  color: #1d2323;
  text-shadow: #a7d7c5 1px 0 8px;
}

h3 {
  color: #5c8d89;
  text-shadow: #fcf5ee 1px 0 10px;
}

hr {
  border-color: #5c848e;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 18%;
}
